[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymonetdb = "*"
configparser = "*"
"psycopg2-binary" = "*"
mysql-connector = "*"
fdb = "*"
jaydebeapi = "*"

[dev-packages]

[requires]
python_version = "3.6"
